/* base styles */
html { -webkit-text-size-adjust: none; /* prevent font scaling in landscape */ }

body {
    margin: 0;
    padding: 10px;
    background-color: #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0 0 22px 0;
    font-size: 14px;
    color: #333;
}

h3 {
    font-weight: normal;
    color: #333;
    font-size: 16px;
    margin: 0 0 11px 0;
}

a, a:link, a:visited {
    color: #4774CC;
    text-decoration: none;
}
a:hover, a:active { opacity: 0.7; }

.footnotes { margin-bottom: 20px; }
.footnotes h4 {
    margin: 2px 0 7px 0;
    color: #666;
    font-size: 11px;
}
.footnotes p,
.footer p {
    margin: 2px 0 0 0;
    font-size: 11px;
    line-height: 1.3;
    color: #808080;
}

/* chart */
#graphic { width: 100%; }
#graphic img {
    max-width: 100%;
    height: auto;
}
#graphic svg { margin-bottom: 1em; }
#graphic .axis {
    font-size: 12px;
    fill: #666;
}
#graphic .axis path,
#graphic .axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}
#graphic .axis.y path { display: none; }
#graphic .axis.y .tick line { display: none; }
#graphic .grid path { display: none; }
#graphic .grid .tick {
    stroke: #ccc;
    stroke-dasharray: 1px 3px;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
#graphic .line {
    fill: none;
    stroke-width: 3px;
    stroke: #11605E;
}

rect {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  display: inline-block;
  color: white;
}

rect:hover {
    background-color: lightsteelblue;
    opacity: 0.8;
}
#graphic {
    display: flex;
    align-items: flex-end;
}

rect {
  fill: steelblue;
}

.error {
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    height: 20px;
    border-radius: 5px;
    border: 1px solid red;
}

div.tooltip {
    position: absolute;
    right: 25px;
    top:25px;
    text-align: center;
    width: 100px;
    height: 16px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}